


<form method="POST" action="/posts">
	<h1>New Blog Post</h1>
	<p><label>Title: <input type="text" name="name"></p></label>
	<p><label>Content: <input type="text" name="content"></p></label>
	<input type="submit" id="submit">
</form>